/* Pokemon Grid */
@at-root .pokemon-grid {
  display: grid;
  grid-gap: 16px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
}

pagination-controls {
  text-align: center;
}

.ngx-pagination .current,
.btn-info {
  background: #E3350D !important;
  border: transparent !important;
  border-radius: 20px !important;
}