<div [ngClass]="{'modal': true, 'show': show}">
    <div class="modal-container">
        <div class="modal-header">
            <span>
                {{ title }}
            </span>
            <span (click)="closeModal()">
                <img src="assets/icons/close.svg" alt="close-modal">
            </span>
        </div>
        <div class="modal-body">
            <ng-content select="[body]"></ng-content>
        </div>
        <div class="modal-footer">
            <ng-content select="[footer]"></ng-content>
        </div>
    </div>
</div>